<h3>Listing places</h3>

<table>
  <tr>
    <th>Title</th>
    <th>Address</th>
    <th>Latitude</th>
    <th>Longitude</th>


  </tr>

  <% @places.each do |place| %>
      <tr>
        <td><%= place.title %></td>
        <td><%= place.address %></td>
        <td><%= place.latitude %></td>
        <td><%= place.longitude %></td>


      </tr>
  <% end %>
</table>
